.aboute_me {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(126, 201, 255);
  clip-path: ellipse(100% 95% at 51% 100%);

  h1 {
    width: 100%;
    font-size: 2em;
    margin-top: 4em;
    text-align: center;
    line-height: 1em;
    font-weight: 400;
    color: rgb(240, 248, 255);
  }
  p {
    display: block;
    width: 55vw;
    font-size: 1em;
    margin: 40px 0;
    text-align: justify;
    line-height: 1.8em;
    letter-spacing: .1em;
    text-indent: 1em;
    font-weight: 400;
    color: rgb(240, 248, 255);
  }
  p::first-letter {
    font-weight: bolder;
    font-size: 1.1em;
  }
  p:nth-of-type(2) {
    // width: 0;
    // position: relative;
    // right: 50%;
    // top: 50%;
  }
  .cat_cleaning {
    width: 12vw;
    display: block;
    // margin: 20px 0;

    cursor: pointer;
    // position: relative;
    // left: -20%;
    // top: 20%;
  }

}

@mixin tool_tips {
  font-style: italic;
  font-size: .9em;
  color: rgb(126, 201, 255);
  width: 20vw;
  position: absolute;
  animation: fadein 2s;
  display: none;
  padding: 10px 10px 20px 10px;
  webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 44% 94%, 46% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 44% 94%, 46% 75%, 0% 75%);
  background-color: rgb(240, 248, 255);
}
 .two {
  @include tool_tips;
  top: 175%;
  left: 50%;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
