.slider {
  position: absolute;
  top: 32%;
  left: 24%;
  transform: skewY(-13deg) skewX(20deg);
  height: 130px;

  li {
    list-style: none;
    font-size: 1.1em;
    display: none;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    margin:  40px;
    width: 285px;
    color: rgb(77, 77, 77);
  }
}


@mixin Glitch_before_and_after{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}
@mixin Glitch_before {
  color: #0ff;
  z-index: -1;
  animation: glitch-effect 2s reverse infinite;
}
@mixin Glitch_after {
  color: #f0f;
  z-index: -2;
  animation: glitch-effect 2s infinite;
}
.glitch_1::before,
.glitch_1::after {
  content: "$(Human).ready(function(){";
  @include Glitch_before_and_after;
}
.glitch_2::before,
.glitch_2::after {
  content: "Human.find('job');";
  padding-left: 20px;
  @include Glitch_before_and_after;
}
.glitch_3::before,
.glitch_3::after {
  content: "});";
  @include Glitch_before_and_after;
}
.glitch_4 {
  color: rgb(166, 166, 166);
}
.glitch_4::before,
.glitch_4::after {
  content: "//hover over cats!";
  opacity: .6;
  @include Glitch_before_and_after;
}

.glitch_1::before,
.glitch_2::before,
.glitch_3::before,
.glitch_4::before {
  @include Glitch_before;
}
.glitch_1::after,
.glitch_2::after,
.glitch_3::after,
.glitch_4::after {
  @include Glitch_after;
}


@keyframes glitch-effect {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
}

@media screen and (max-width: 1030px) {
  .slider {
    position: absolute;
    top: 42%;
    left: 7%;
    li {
        font-size: 1em;
    }
  }
}

@media screen and (max-width: 480px) {
  .slider {
    height: 55px;
    position: absolute;
    top: 45%;
    left: -1%;
    li {
        font-size: .6em;
    }
  }
}
