.nav_bar {
  width: 2.6em;
  height: 2em;
  display: block;
}


.hamburger_menu {
  display: none;
  position: absolute;
  right: 2%;
  top: 8%;
  width: 2.6em;
  height: 2em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);


.line1, .line2, .line3 {
  display: block;
  background-color: #000;
  width: 2.3em;
  height: .13em;
  margin: .4em .2em;
  transition: all 0.2s ease-out;
  }
  &.open {
       .line1 {
           transform: translateY(0.6em) rotate(45deg);
       }

       .line2 {
           opacity: 0;
       }

       .line3 {
           transform: translateY(-0.6em) rotate(-45deg);
       }
   }
}
.menu {
  position: absolute;
  top:14%;
  right: 2%;
  .menu_item {
    list-style: none;
    display: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 0 15px 10px;
    text-align: right;
    font-size: 20px;
    width: 120px;
    a {
      text-decoration: none;
      color: #000;
    }
  }
}
