.skills {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  background-color:rgb(52, 152, 219);
  h1 {
    width: 100%;
    font-size: 2em;
    text-align: center;
    line-height: 1em;
    font-weight: 400;
    color: rgb(240, 248, 255);
    margin: 1em 0; ;

  }
  h2 {
    color: rgb(240, 248, 255);
    font-size: 1.3em;
    font-weight: 400;
    text-align: justify;
    line-height: 1.9em;
    letter-spacing: .1em;
  }
  .carousel li {
    list-style: none;
    color: rgb(240, 248, 255);
    font-size: 6em;
    text-align: center;
    line-height: 2em;
    font-weight: 400;
    color: rgb(240, 248, 255);
    display: none;
  }
}
.skill_slider {
  display: flex;
}

  .arrow {
    font-size: 7em;
    font-weight: lighter;
    // position: relative;
    color: rgb(240, 248, 255);
    margin-top: 0.15em;
    text-decoration: none;
    cursor: pointer;
  }
  .left {
    margin-right: .5em;
  }
  .right {
    margin-left: .5em;
    order: 3;
  }

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  width: 80%;
  li {
    color: rgb(240, 248, 255);
    font-size: 3em;
    font-weight: 400;
    text-align: justify;
    line-height: 1.8em;
    letter-spacing: .1em;
    padding: 0 1em ;
  }

}
@media screen and (max-width: 1030px) {

}

@media screen and (max-width: 480px) {
  .skills {
    h1 {
      margin: 0.3em;
    }
    h2 {
      width: 80vw;
      font-size: 1em;
      text-align: center;
    }
    .carousel li {
      font-size: 2.5em;
    }
    .arrow {
      font-size: 3.5em;
    }
    .right {
      margin: 0;
    }
    .left {
      margin: 0;
    }
    .list li {
      font-size: 1.4em;
    }
  }

}
