
.glitch_1 {
  opacity: 0;
  animation: slid 3.5s linear infinite;
  animation-delay: 5000ms;
}
.glitch_2 {
  padding-left: 20px;
  opacity: 0;
  animation: slid 3.5s linear infinite;
  animation-delay: 5700ms;
}
.glitch_3 {
  opacity: 0;
  animation: slid 3.5s linear infinite;
  animation-delay: 6200ms;
}
.glitch_4 {
  opacity: 0;
  animation: slid 3.5s linear infinite;
  animation-delay: 7100ms;
}
@keyframes slid {
  0% {
    position: absolute;
    top: 2%;
    opacity: 0.8;
  }
  50% {
    position: absolute;
    top: -50%;
    opacity: 1;
  }
  100% {
    position: absolute;
    top: -98%;
    opacity: 0.8;
  }
}
