@import "loader";
@import "header";
@import "glitch_text";
@import "slider";
@import "menu";
@import "section";


body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.visible {
  display: block !important;
}
